name: test
on:
  pull_request:
  push:
    branches:
    - main

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image:
          - python:3.11
          - python:3.12
          - python:3.13
          - python:3.14
    container:
        image: ${{ matrix.image }}
    steps:
      - uses: actions/checkout@v3
      - run: |
         git config --global --add safe.directory "$PWD"
         cat .git/HEAD
         env
         git status
         pip3 install --upgrade pip
         pip3 install poetry
         make all
         git diff --exit-code
         make test
